.contenedorFinca{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #28A047;
    
}
.finca{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: white;
}

.finca1{
    display: flex;
    justify-content: center;
    height: 12%;
    border-radius: 2px;
    border: black solid 2px;
    align-items: center;
    color: #28A047;
    font-size: 150%;
    background-color: #D8D8D8;
}

.finca2{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 2px;
    padding: 0.5%;
}



.crearFinca{
    display: flex;
    height: 5%;
    align-items: center;
    padding-left: 3%;
}

.fincasregistradas{
    display: flex;
    height: 80%;
    border: black solid 2px;
    padding: 0.5;
    background-color: #D8D8D8;
    margin-top: 0.1%;
    flex-wrap: wrap;
    overflow-x: auto;
    flex-direction: row;
}

.Titulocajafinca{
    padding: 0.1%;
    width: 100%;
    height: 40%;
    text-align: center;
    align-content: center;
    align-items: center;
    
}

.contenidofincacaja{
    display: flex;
    width: 100%;
    height: 40%;
}

.fincacajas{
    margin: 0.6%;
    margin-left: 12.5%;
    padding: 0.2%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 35%;
    border: black solid 2px;
    background-color: white;
    flex: 0 0 auto;
    }
.datosfincacaja{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 7%;
    
    }

    .BotonCultivos{
        width: 34%;
        
    }
    
    .BotonC{
        width: 22%;
    }
 
@media (max-width: 700px) { 

    .fincasregistradas{
        display: flex;
        height: 95%;
        border: black solid 2px;
        padding: 0.5;
        background-color: #D8D8D8;
        margin-top: 5%;
        flex-wrap: wrap;
        overflow-x: auto;
        flex-direction: row;
    }
    .fincacajas{
            margin: 1.5%;
            margin-left: 12.5%;
            width: 75%;
        }
    h2{
        font-size: 100%;
    }
    
}
